[Unit]
Description=V2X Car Robot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=veerobot
WorkingDirectory=/home/veerobot/projects/V2X/robot_python
ExecStartPre=/bin/sleep 5
ExecStart=/home/veerobot/projects/V2X/robot_python/.venv/bin/python3 main_car.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
